---
title: News
---

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
			<li>
				<h3><%= year %></h3>
				<ul>
	 				<% articles.each do |article| %>
	 				<article>
		   				<li>
		     				<h4><time><%= article.date.strftime('%B %e, %Y') %></time> - <%= article.title %></h4>
		     				<%= article.summary(1000, ">>") %>
		   				</li>
		   			</article>
	 				<% end %>
				</ul>
			</li>
			<% end %>
		</div>
		<div class="col-md-4">
			  <%= partial "chesslinks" %>
		</div>
	</div>
</div>


